/* ========================= */
/* Styling untuk setiap page */
/* ========================= */


.base-container{
  width: 100%;
  height: 100%;
  padding-top: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form{
  width:40%;
  display: flex;
  flex-direction: column;
}