/* ========================= */
/* Styling untuk setiap page */
/* ========================= */

/* Navbar */
.navbar{
  width: 90%;
  height: 82px;
  background-color: #141414;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar img{
  width: 2.5%;
  height: auto;
}

.nav-active{
  font: 500 1em;
  color: aquamarine;
  margin: 0 4px 0 4px;
  text-decoration: none;
}

.nav-inactive{
  font: bold 1em;
  color: white;
  margin: 0 4px 0 4px;
  text-decoration: none;
}

/* Container */
.root-container{
  width: 100%;
  min-height: 100vh;
  background-color: #201F1F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.base-container{
  width: 90%;
  height: 100%;
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Movie  */
.list-movie-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;  
  margin-bottom: 3em;
}

.category-title{
  width: 100%;
  font: bold 1.5em sans-serif;
  color: white;
}

.detailmovie-backdrop{
  width:100%;
  max-width: 100vw;
  height: 16em;
  object-fit: cover;
  position: fixed;
  top: 10%;
  left: 0;
  opacity: .8;
}

.detailmovie-desc-container{
  margin-top: 17%;
  margin-left: 5%;
  align-self: flex-start;
  height: 15em;
  background-color: #2d2c2c;
  z-index: 2;
  border-radius: 12px;
  padding: 1px;
}

.detailmovie-desc-container img{
  width: auto;
  height: 100%;
  border-radius: 10px;
}


.detailmovie-detail-content{
  width: 100%;
  min-height: 20em;
  background-color:#201F1F;
  z-index: 1;
  position: absolute;
  top: 46%;
}

.detailmovie-inner-content{
  width: 98.9vw;
  min-height:20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailmovie-content-container{
  width: 62%;
  min-height: 30em;
  margin-top: 2em;
}

.detailmovie-content-container .desc{
  color: white;

}

.detailmovie-content-container .genres{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Login */
.login-form{
  position: absolute;
  top: 0;
  right: 8%;
  z-index: 20;
}

.login-form .txt-field{
  width: 90%;
  height: 2em;
  padding: 12px;
  border: 0px;
  border-radius: 6px;  
  border-color: white;
  color: #201F1F;
  font: 300 1em sans-serif;
  transition: .03s ease-in-out;
}

.login-form .txt-field:focus{
  width: 90%;
  height: 2em;
  padding: 24px 12px 24px 12px;
  border: 0px;
  border-radius: 6px;  
  border-color: white;
  color: #201F1F;
  font: 300 1em sans-serif;
  outline-color: cornflowerblue;
  transition: .03s ease-in-out;
}

.login-form .txt-link{
  font: 500 1em sans-serif;
}

.login-form .btn{
  width: 60%;
  padding: 12px;
  color: white;
  background-color: #E50913;
}

.login-img{
  position: fixed;
  top: 0;
  left: 0;
}

.login-rec{
  position: fixed;
  top:0;
  right: 15%;
  z-index: 1;
}

/* Footer */
.footer-container{
  width: calc(100% - 3em);
  overflow: hidden;
  height: 9em;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.inner-container{
  width: 60%;
  height: 100%;
  padding-left: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-column-container{
  max-width: 25%;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-column-container div{
  padding: 6px 0 4px 0;
  font: 500 .65em sans-serif;
  color: #808080;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #201F1F;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #141414;;
  height: 1px;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aquamarine;
}